/** Transition a list of properties with the default animation. Usage: @include default-animation(background-color, color); */
/** Transition a list of properties with the animation specified in the first parameter. Usage: @include animate(0.2s ease-in-out, background-color, color); */
/** Simple cross-browser transition mixin */
html { line-height: 1.15; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

h1 { font-size: 2em; margin: 0.67em 0; }

hr { box-sizing: content-box; height: 0; overflow: visible; }

pre { font-family: monospace,monospace; font-size: 1em; }

a { background-color: transparent; }

abbr[title] { border-bottom: none; text-decoration: underline; text-decoration: underline dotted; }

b, strong { font-weight: bolder; }

code, kbd, samp { font-family: monospace,monospace; font-size: 1em; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }

img { border-style: none; }

button, input, optgroup, select, textarea { font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0; }

button, input { overflow: visible; }

button, select { text-transform: none; }

button, [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }

fieldset { padding: 0.35em 0.75em 0.625em; }

legend { box-sizing: border-box; color: inherit; display: table; max-width: 100%; padding: 0; white-space: normal; }

progress { vertical-align: baseline; }

textarea { overflow: auto; }

[type="checkbox"], [type="radio"] { box-sizing: border-box; padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }

[type="search"] { -webkit-appearance: textfield; outline-offset: -2px; }

[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

::-webkit-file-upload-button { -webkit-appearance: button; font: inherit; }

details { display: block; }

summary { display: list-item; }

template { display: none; }

[hidden] { display: none; }

html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

body { background-color: #fdfdfd; }

.page-content { max-width: 800px; margin: 0 auto; padding: 6em 1em; }
@media only screen and (max-width: 800px) { .page-content { padding: 4em 1em; } }
@media only screen and (max-width: 600px) { .page-content { padding: 3em 1em; } }

.page-block { background-color: #F5F5F5; }

.wrapper { max-width: 800px; margin: 0 auto; padding: 8px; }

body { font: 400 16px/1.5em "Quicksand", Tahoma, Helvetica, Arial, sans-serif; color: #111; line-height: 1.5em; }

ol, ul { margin: 0; padding: 0 0 0 2em; }

a { text-decoration: none; color: #3b3bb7; }
a:hover { color: #6e6ed0; }

details { margin: 2em 0 3em 0; padding: 2em 2em 1em 2em; background-color: #F5F5F5; }
details summary { font-style: italic; cursor: pointer; margin: 0 0 1em 0; }

p { line-height: 1.7em; }

h1, h2, h3 { margin: 1.2em 0 1em 0; line-height: 1.2em; }

.emphasis p { font-size: 1.2em; }

h1.centered, h2.centered, h3.centered, p.centered, a.centered, input.centered, textarea.centered, button.centered { text-align: center; }

hr { height: 1px; border: 0; background: #CCCCCC; margin: 3em 0; }

input, button, .button, textarea { will-change: border-color; -webkit-transition: border-color 0.2s ease-in-out; -moz-transition: border-color 0.2s ease-in-out; -o-transition: border-color 0.2s ease-in-out; transition: border-color 0.2s ease-in-out; -webkit-border-radius: 2em; -moz-border-radius: 2em; border-radius: 2em; display: inline-block; margin: 0.5em 0; padding: 1em 1.5em; border: 1px solid #CCCCCC; background-color: #fdfdfd; }
input:hover, button:hover, .button:hover, textarea:hover { border-color: #eb6d60; }
input.full-width, button.full-width, .button.full-width, textarea.full-width { width: 100%; }

button, .button, input[type=submit] { will-change: background-color; -webkit-transition: background-color 0.2s ease-in-out; -moz-transition: background-color 0.2s ease-in-out; -o-transition: background-color 0.2s ease-in-out; transition: background-color 0.2s ease-in-out; padding: 0.8em 1.8em; text-align: center; background-color: #e9594a; border: 4px solid #e9594a; color: #F5F5F5; cursor: pointer; }
button:hover, .button:hover, input[type=submit]:hover { color: #F5F5F5; background-color: #eb6d60; border-color: #e9594a; }

form { margin: 0px auto; }
form.reduced-width { max-width: 500px; }

.site-header { display: block; width: 100%; min-height: 40vh; background-color: #CCCCCC; background-image: url("images/backgrounds/front-page.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center 83%; position: relative; }
.site-header .big_logo { position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 1; padding: 0; background-image: url("images/timeturner-shadow.png"); background-size: 120%; background-repeat: no-repeat; background-position: center; }
.site-header .big_logo p { position: absolute; top: 60%; width: 100%; box-sizing: border-box; text-align: center; font-size: 1.5em; color: rgba(255, 255, 255, 0.9); text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.8); }
@media only screen and (max-width: 800px) { .site-header .big_logo p { font-size: 1em; } }
.site-header .bouncy-arrow { display: block; position: absolute; bottom: 6vh; right: 6vh; z-index: 2; width: 6vh; height: 9vh; cursor: pointer; animation: 0.5s infinite alternate ease-in bounce; }
.site-header .bouncy-arrow:before, .site-header .bouncy-arrow:after { content: ' '; position: absolute; left: 50%; }
.site-header .bouncy-arrow:before { top: 0; bottom: 2.1vh; width: 1.5vh; margin-left: -0.75vh; background: #e74c3c; background: linear-gradient(to bottom, transparent 0%, #e74c3c 80%); }
.site-header .bouncy-arrow:after { bottom: 0; border: solid transparent; border-top-color: #e74c3c; border-width: 2.4vh; margin-left: -2.4vh; margin-bottom: -2.4vh; }
@keyframes bounce { 0% { transform: translateY(-20%); }
  100% { transform: translateY(0%); } }
.site-header.full-screen { height: 100vh; background-image: url("images/backgrounds/front-page.jpg"); background-position: center; }
.site-header.position-paper { background-image: url("images/backgrounds/position-paper.jpg"); background-position: center 42%; }
.site-header.manifest { background-image: url("images/backgrounds/manifest.jpg"); background-position: center 65%; }
.site-header.community { background-image: url("images/backgrounds/community.jpg"); background-position: center; }
.site-header.components { background-image: url("images/backgrounds/components.jpg"); background-position: center 20%; }
.site-header.meedoen { background-image: url("images/backgrounds/community.jpg"); background-position: center 30%; }
.site-header.press { background-image: url("images/backgrounds/contact.jpg"); background-position: center 61%; }
.site-header.privacy-policy { background-image: url("images/backgrounds/front-page.jpg"); background-position: center; }
.site-header.contact { background-image: url("images/backgrounds/contact.jpg"); background-position: center 61%; }

.site-nav { will-change: background-color; -webkit-transition: background-color 0.2s ease-in-out; -moz-transition: background-color 0.2s ease-in-out; -o-transition: background-color 0.2s ease-in-out; transition: background-color 0.2s ease-in-out; position: relative; z-index: 2; will-change: background-color, -webkit-backdrop-filter; -webkit-transition: background-color 0.2s ease-in-out , -webkit-backdrop-filter 0.2s ease-in-out; -moz-transition: background-color 0.2s ease-in-out , -webkit-backdrop-filter 0.2s ease-in-out; -o-transition: background-color 0.2s ease-in-out , -webkit-backdrop-filter 0.2s ease-in-out; transition: background-color 0.2s ease-in-out , -webkit-backdrop-filter 0.2s ease-in-out; -webkit-backdrop-filter: blur(0px); }
.fixed .site-nav { position: fixed; top: 0; left: 0; right: 0; background-color: rgba(231, 76, 60, 0.96); }
.fixed .site-nav { -webkit-backdrop-filter: blur(3px); }

.navigation { height: 1.5em; box-sizing: content-box; padding: 0; }
.navigation .small_logo { will-change: opacity; -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; -o-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; display: block; position: relative; top: 20px; left: -6px; height: 50px; width: 120px; float: left; background-image: url("images/timeturner.png"); background-size: 100%; background-repeat: no-repeat; background-position: center; opacity: 0; }
.fixed .navigation .small_logo { opacity: 1; }
.navigation .right-menu { float: right; }
.navigation .nav-trigger { display: none; }
.navigation .menu-icon { display: none; }
.navigation .nav-list > ul { list-style: none; }
.navigation .nav-list > ul > li { will-change: color; -webkit-transition: color 0.2s ease-in-out; -moz-transition: color 0.2s ease-in-out; -o-transition: color 0.2s ease-in-out; transition: color 0.2s ease-in-out; display: inline-block; position: relative; padding: 2em 0; color: rgba(255, 255, 255, 0.9); line-height: 1.5em; text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.8); cursor: pointer; }
.navigation .nav-list > ul > li a { color: rgba(255, 255, 255, 0.9); }
.navigation .nav-list > ul > li:hover { color: #fff; }
.navigation .nav-list > ul > li:not(:last-child) { margin-right: 20px; }
.navigation .nav-list > ul > li ul { -webkit-border-radius: 1em; -moz-border-radius: 1em; border-radius: 1em; will-change: opacity, visibility; -webkit-transition: opacity 0.2s ease-in-out , visibility 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out , visibility 0.2s ease-in-out; -o-transition: opacity 0.2s ease-in-out , visibility 0.2s ease-in-out; transition: opacity 0.2s ease-in-out , visibility 0.2s ease-in-out; opacity: 0; visibility: hidden; position: absolute; right: -1em; top: 4.5em; width: 180px; background-color: rgba(245, 245, 245, 0.95); list-style-type: none; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); }
.navigation .nav-list > ul > li ul li a { will-change: color; -webkit-transition: color 0.2s ease-in-out; -moz-transition: color 0.2s ease-in-out; -o-transition: color 0.2s ease-in-out; transition: color 0.2s ease-in-out; display: block; padding: 1em; text-shadow: none; color: #111; text-align: right; }
.navigation .nav-list > ul > li ul li a:hover { color: #3b3bb7; }
.navigation .nav-list > ul > li:hover ul { opacity: 1; visibility: visible; }
@media only screen and (max-width: 800px) { .navigation { padding: 0 1em; }
  .navigation .nav-list > ul > li { padding: 1em 0; }
  .navigation .nav-list > ul > li ul { top: 3em; }
  .navigation .small_logo { height: 25px; width: 60px; top: 17px; left: -3px; } }
@media only screen and (max-width: 600px) { .navigation { text-align: right; height: 56px; }
  .navigation label[for="nav-trigger"] { display: block; float: right; width: 56px; height: 56px; z-index: 2; cursor: pointer; }
  .navigation .menu-icon { display: block; float: right; width: 36px; height: 26px; line-height: 56px; text-align: center; }
  .navigation .menu-icon > svg { fill: white; }
  .navigation input ~ .nav-list { will-change: left; -webkit-transition: left 0.2s ease-in-out; -moz-transition: left 0.2s ease-in-out; -o-transition: left 0.2s ease-in-out; transition: left 0.2s ease-in-out; position: fixed; width: 100vw; top: 56px; bottom: 0; left: 110vw; background-color: #fdfdfd; overflow-y: scroll; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7); }
  .navigation input:checked ~ .nav-list { left: 0vw; }
  .navigation .nav-list > ul > li { display: block; width: 100%; padding: 2em 0 0 0; text-align: center; color: #111; text-shadow: none; border-bottom: 1px solid #CCCCCC; background-color: #F5F5F5; }
  .navigation .nav-list > ul > li:hover { color: #111; }
  .navigation .nav-list > ul > li ul { position: static; opacity: 1; visibility: visible; width: 100%; margin-top: 1em; background-color: white; border-radius: 0; box-shadow: none; }
  .navigation .nav-list > ul > li ul li a { text-align: left; border-top: 1px solid #CCCCCC; padding: 1.5em 1em; } }

.participants { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-direction: row; flex-wrap: wrap; max-width: 1070px; margin: 0 auto; padding: 0 0.5em 7em 0.5em; }
@media only screen and (max-width: 800px) { .participants { padding-bottom: 5em; } }
@media only screen and (max-width: 600px) { .participants { padding-bottom: 4em; } }
.participants .participant { -webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; position: relative; padding: 0.5em; min-width: 200px; min-height: 150px; margin: 2em; padding: 0; background-size: contain; background-repeat: no-repeat; background-position: center; }
.participants .participant a { display: block; width: 100%; height: 100%; }

footer { background-color: #F5F5F5; }
footer .wrapper { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; min-height: 10vh; }
@media only screen and (max-width: 600px) { footer .wrapper { flex-wrap: wrap; } }
footer .wrapper .left, footer .wrapper .right { -webkit-box-flex: 1 1 400px; -moz-box-flex: 1 1 400px; -webkit-flex: 1 1 400px; -ms-flex: 1 1 400px; flex: 1 1 400px; }
footer .wrapper .right { text-align: right; }
@media only screen and (max-width: 600px) { footer .wrapper .right { text-align: left; } }
footer ul { list-style-type: none; }
footer ul li { margin-top: 1.2em; }
footer ul ul li { margin-top: 0; }
footer ul li.secret-page { display: none; }

.fancy-image { height: 60vh; background-size: cover; background-repeat: no-repeat; background-position: center; }
.fancy-image.large { height: 100vh; }
.fancy-image.contact { background-image: url("images/backgrounds/contact.jpg"); background-position: center 61%; }
.fancy-image.powerlines { background-image: url("images/backgrounds/powerlines.jpg"); }

.article-footer hr { margin: 6em 0 1em 0; }
.article-footer .wrapper { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; justify-content: space-between; font-size: 0.8em; line-height: 1em; }
@media only screen and (max-width: 600px) { .article-footer .wrapper { flex-wrap: wrap; } }
.article-footer .wrapper .left, .article-footer .wrapper .right { -webkit-box-flex: 1 1 400px; -moz-box-flex: 1 1 400px; -webkit-flex: 1 1 400px; -ms-flex: 1 1 400px; flex: 1 1 400px; }

a.creative-commons { position: relative; display: block; min-height: 33px; margin: 0 0 0 auto; color: #111; text-align: right; padding: 1em 100px 1em 0; }
a.creative-commons img { float: right; position: absolute; right: 0px; border-width: 0; }

.social-media-buttons { padding: 0.5em 0; }
.social-media-buttons p { margin: 0 0 0.2em 0; padding: 0; }
.social-media-buttons li { display: inline-block; height: 2em; width: 2em; margin-right: 0.5em; background-position: center; background-repeat: no-repeat; background-size: 90%; color: transparent; cursor: pointer; transition: background-size 0.2s ease; }
.social-media-buttons li.instagram { background-image: url("images/social-media-icons/instagram.png"); }
.social-media-buttons li.facebook { background-image: url("images/social-media-icons/facebook.png"); }
.social-media-buttons li.twitter { background-image: url("images/social-media-icons/twitter.png"); }
.social-media-buttons li.linkedin { background-image: url("images/social-media-icons/linkedin.png"); }
.social-media-buttons li:hover { background-size: 100%; }

.follow-us-on-twitter { display: inline-block; margin: 3em 0 0 0; color: #3b3bb7; cursor: pointer; }
.follow-us-on-twitter:before { content: ' '; display: inline-block; width: 1.2em; height: 1.2em; margin: 0 0.5em 0 0; vertical-align: text-bottom; background-image: url("images/social-media-icons/twitter.png"); background-position: left; background-repeat: no-repeat; background-size: contain; }

.press-logos { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-direction: row; flex-wrap: wrap; max-width: 800px; margin: 0 auto; }
.press-logos figure { -webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; padding: 1em; margin: 1em; min-width: 300px; background-color: #eee; background-image: linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd), linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd); background-size: 40px 40px; background-position: 0 0, 20px 20px; text-align: center; }
.press-logos figure img { width: 100%; }

img.inline-image, figure.inline-image { width: 900px; margin: 1em 0 1em -66px; }
@media only screen and (max-width: 900px) { img.inline-image, figure.inline-image { width: 100%; margin-left: 0; } }

iframe.wide-frame { width: 900px; margin: 1em 0 1em -66px; }
@media only screen and (max-width: 900px) { iframe.wide-frame { width: 100%; margin-left: 0; } }

iframe.docs { height: 100vh; width: 1000px; margin: -6em 0 -6em -106px; border: 0; }
@media only screen and (max-width: 800px) { iframe.docs { width: 100vw; margin: -4em -1em -4em -1em; } }
@media only screen and (max-width: 600px) { iframe.docs { width: 100vw; margin: -3em -1em -3em -1em; } }
