<footer>
    <div class="page-content">
        <div class="wrapper">
          <div class="left">
            <h2>Participate in TimeTurner</h2>
            <p>We're looking for volunteers and changemakers to join us and share their ideas and their journeys. Inspire and be a catalyst for change!</p>
            <a href="{{ '/contact' | relative_url }}" class="button">Contact us!</a>
    
            <p>
              <a class="follow-us-on-twitter">@TodayTimeturner</a> (TimeTurner)<br/>
            </p>
          </div>
    
          <div class="right">
            <h2>Sitemap</h2>
            {%- include site-structure.html -%}
          </div>
        </div>
      </div>    
</footer>
