<!-- modify this form HTML and place wherever you want your form -->

<form
  action="https://formspree.io/maylnqrp"
  method="POST"
>  <input type="hidden" name="_subject"  value="[TIMETURNER] Contact Form " />
   <input type="hidden" name="_next"     value="https://timeturner.today" />
   <input type="hidden" name="_language" value="en" />
   <input type="text"   name="_gotcha"   style="display:none" />

  <input class="full-width" autocomplete="on" type="text"  name="name"        placeholder="Name"        required>
  <input class="full-width" autocomplete="on" type="email" name="_replyto"    placeholder="e-mail address" required>
  <input class="full-width" autocomplete="on" type="tel"   name="phonenumber" placeholder="Phone">
  <input class="full-width" autocomplete="on" type="twitter"   name="twitter" placeholder="twitter handle">

  <!-- your other form fields go here -->
  <textarea class="full-width" rows="10" name="content" placeholder="Tell us your story and how we can collaborate"></textarea>
  <button type="submit">Send</button>
</form>