<ul>
    <li>
      <a href="{{ '/' | relative_url }}">Home</a>
    </li>
    <li>
      <a href="{{ '/articles' | relative_url }}">Articles</a>
    </li>
    <li>
      <a href="{{ '/podcasts' | relative_url }}">Podcasts</a>
    </li>
    <li>
      About Time Turner
      <ul>
        <li>
          <a class="page-link" href="{{ '/privacy-policy' | relative_url }}">Privacy policy</a>
        </li>
        <li>
          <a class="page-link" href="{{ '/contact' | relative_url }}">Contact</a>
        </li>
      </ul>
    </li>
  </ul>